<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">In the following form you can create accounts for new clients</h4>
        <h6 class="card-subtitle">Once the account is created, the customer will be notified via email.</h6>
        
        <form class="floating-labels m-t-40" [formGroup]="regisFormCliente" (submit)="registrarCliente()">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="nombres" class="form-control">
                <span class="bar"></span>
                <label for="input1">Name</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="apellidos" class="form-control">
                <span class="bar"></span>
                <label for="input2">Surnames</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="form-group m-b-40 focused">
                <input type="email" formControlName="email" class="form-control">
                <span class="bar"></span>
                <label for="input3">E-mail</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="telefono" class="form-control">
                <span class="bar"></span>
                <label for="input3">Phone</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="pais" class="form-control">
                <span class="bar"></span>
                <label for="input3">Country</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="password" formControlName="password" class="form-control" id="input5">
                <span class="bar"></span>
                <label for="input3">Password</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="password" formControlName="passwordConfir" class="form-control" id="input5">
                <span class="bar"></span>
                <label for="input3">Confirm Password</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="compania" class="form-control">
                <span class="bar"></span>
                <label for="input3">Company name</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <textarea class="form-control" formControlName="descripcion" rows="2"></textarea>
                <span class="bar"></span>
                <label for="input3">Description</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success btn-block">Register Client</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" formControlName="estado" type="checkbox" class="filled-in chk-col-light-blue">
                <label for="checkbox-signup">Active Client </label><br><br>
                <h6>By default the customer account must be active. </h6>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col text-danger">
              <p *ngIf="campoNoValido('nombres')">*The name is required.</p>
              <p *ngIf="campoNoValido('apellidos')">*The last name is required.</p>
              <p *ngIf="campoNoValido('email')">*The E-mail is mandatory and valid.</p>
              <p *ngIf="campoNoValido('telefono')">*The phone is mandatory.</p>
              <p *ngIf="campoNoValido('pais')">*Country is required.</p>
              <p *ngIf="campoNoValido('compania')">*The company name is required.</p>
              <p *ngIf="campoNoValido('descripcion')">*Description is required.</p>
              <p *ngIf="contrasenasNoValidas()">*Passwords must be the same (min 6 characters).</p>
            </div>
          </div>
      
        </form>
      </div>
    </div>
  </div>
</div>