<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{'followingNewClients' | translate}}</h4>
        <h6 class="card-subtitle">{{'CreatedNotifiedEmail' | translate}}</h6>
        
        <form class="floating-labels m-t-40" [formGroup]="regisFormCliente" (submit)="registrarCliente()">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="nombres" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'Names' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="apellidos" class="form-control">
                <span class="bar"></span>
                <label for="input2">{{'Surnames' | translate}}</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="form-group m-b-40 focused">
                <input type="email" formControlName="email" class="form-control">
                <span class="bar"></span>
                <label for="input3">{{'Email' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="telefono" class="form-control">
                <span class="bar"></span>
                <label for="input3">{{'phone' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="pais" class="form-control">
                <span class="bar"></span>
                <label for="input3">{{'Country' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="password" formControlName="password" class="form-control" id="input5">
                <span class="bar"></span>
                <label for="input3">{{'Password' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="password" formControlName="passwordConfir" class="form-control" id="input5">
                <span class="bar"></span>
                <label for="input3">{{'ConfirmPassword' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="compania" class="form-control">
                <span class="bar"></span>
                <label for="input3">{{'CompanyName' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <textarea class="form-control" formControlName="descripcion" rows="2"></textarea>
                <span class="bar"></span>
                <label for="input3">{{'Description' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success btn-block">Register Client</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" formControlName="estado" type="checkbox" class="filled-in chk-col-light-blue">
                <label for="checkbox-signup">{{'ActiveClient' | translate}} </label><br><br>
                <h6>{{'defaultCustomerActive' | translate}} </h6>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col text-danger">
              <p *ngIf="campoNoValido('nombres')">*{{'nameRequired' | translate}}</p>
              <p *ngIf="campoNoValido('apellidos')">*{{'SurnamesRequired' | translate}}</p>
              <p *ngIf="campoNoValido('email')">*{{'emailRequired' | translate}}</p>
              <p *ngIf="campoNoValido('telefono')">*{{'phoneRequired' | translate}}</p>
              <p *ngIf="campoNoValido('pais')">*{{'CountryRequired' | translate}}</p>
              <p *ngIf="campoNoValido('compania')">*{{'companyNameRequired' | translate}}</p>
              <p *ngIf="campoNoValido('descripcion')">*{{'DescriptionRequired' | translate}}</p>
              <p *ngIf="contrasenasNoValidas()">*{{'PasswordsMustSame' | translate}}</p>
            </div>
          </div>
      
        </form>
      </div>
    </div>
  </div>
</div>