<div class="row el-element-overlay">
  <div class="col-md-12">
    <h4 class="card-title"> {{'AllClients' | translate}} </h4>
    <h6 class="card-subtitle m-b-20 text-muted"> {{'YouCustomerDetails' | translate}} </h6> </div>
  
    <div *ngFor="let usuario of usuarios; let i = index;" class="col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img src="./assets/images/users/clientes.png" alt="user">
            <span *ngIf="usuario.estado_us === 0" class="estadoCliente"> {{'inactive' | translate}} </span>
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline iconLink" (click)="verDetalleCliente(usuario)"><i class="icon-link"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">{{usuario.nombres_us}}</h3> <small>{{usuario.compania_us}}</small>
            <br> </div>
        </div>
      </div>
    </div>

</div>