
<div class="row">
    <!-- Column -->
  <div class="col-lg-7 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Información general</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">        
        <div class="tab-pane active" id="settings" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">ID inversión: &nbsp; <b>{{inversion['id_inv']}}</b> </small>
              </div>
              <br>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Fecha inversión: &nbsp; {{inversion['fechareg_inv'] | date: 'dd/MM/yyyy'}} </small>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-12">
                <small class="text-muted">Nombre inversión:</small>
                <h6>{{inversion['nombre_inv']}}</h6> 
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Capital invertido:</small>
                <h6>{{inversion['capital_inv'] | currency: inversion['moneda_inv']}}</h6> 
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Tipo de moneda:</small>
                <h6>{{inversion['moneda_inv']}}</h6> 
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">País:</small>
                <h6>{{inversion['pais_inv']}}</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Tiempo inversión:</small>
                <h6>{{inversion['tiempo_inv']}} días</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Tasa de interés (EA):</small>
                <h6>{{inversion['tasa_ea_inv']}}%</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Estado inversión:</small>
                <h6 *ngIf="inversion['estado_inv'] === 1" class="text-warning">ACTIVO</h6>
                <h6 *ngIf="inversion['estado_inv'] === 0" class="text-danger">INACTIVO</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-10">
                <small class="text-muted">Descripción:</small>
                <h6>{{inversion['descripcion_inv']}}</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-12">
                <button *ngIf="this.usuario[0].admin_us === 'Y'" type="button" (click)="modalEditInvert(inversion)" class="btn waves-effect waves-light btn-rounded btn-success" data-toggle="modal" data-target=".modalEditInver">Editar inversión</button>
                &nbsp;
                <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">Volver</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column -->
  <div class="col-lg-5 col-xlg-3 col-md-5">
    <div class="card">
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Documentos relacionados</a> </li>
      </ul>
      <div class="card-body contenidoArchivos">
        <div *ngFor="let archivo of archivos" class="alert alert-info">
          <img *ngIf=" archivo.tipo_archivo_info === 'pdf' " class="logoFile" src="../../../assets/images/pdf.png" alt="">
          <img *ngIf=" archivo.tipo_archivo_info === 'word' " class="logoFile" src="../../../assets/images/word.png" alt="">
          {{archivo.nom_archivo_info | slice:9:30 }} {{ (archivo.nom_archivo_info.length > 30)? '...': '' }}
          <br>
          <span class="fechArchivo">Publicado: {{archivo.fech_publica_info | date: 'dd/MM/yyyy' }} </span>
          <div class="opcionesFile">
            <a (click)="verArchivo(archivo)" title="View"> <i class="mdi mdi-eye"></i> </a>
            <a *ngIf="this.usuario[0].admin_us === 'Y'" (click)="eliminarArchivo(archivo)" title="Delete file"> <i class="mdi mdi-delete"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabla con los anexos -->
<div *ngIf=" anexos.length > 0 " class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Anexos cargados actualmente</h4>
        <h6 class="card-subtitle">Estos son los anexos cargados para la inversión {{inversion['nombre_inv']}} </h6>
        <div class="table-responsive">
          <table class="table tablaAnexos">
            <thead>
              <tr>
                <th># Anexo</th>
                <th>Nom. Anexo</th>
                <th>Ganancias</th>
                <th>Tasa (EA) inicial</th>
                <th>Moneda</th>
                <th>Comentario</th>
                <th>Fecha publicación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let anexo of anexos">
                <td>{{anexo.id_anex}}</td>
                <td>{{anexo.nombre_anex}}</td>
                <td>{{anexo.ganacias_anex | currency: anexo.moneda_anex }} </td>
                <td>{{anexo.tasa_anex}}%</td>
                <td>{{anexo.moneda_anex}}</td>
                <td>{{anexo.comentario_anex}}</td>
                <td><span class="text-muted"><i class="fa fa-calendar-o"></i> {{anexo.fechpublica_anex | date: 'dd/MM/yyyy'}}</span> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Anexos para la inversión  -->
<div *ngIf="this.usuario[0].admin_us === 'Y'" class="row">
  <div class="col-lg-7 col-md-7">
    <div class="card">
      <div class="card-body">
        <button type="button" (click)="modalCrearAnexos(inversion)" class="btn waves-effect waves-light btn-rounded btn-success btn-block" data-toggle="modal" data-target=".modalCrearAnexo">Crear Anexo</button>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Carga de archivos para el anexo</h4>
        <label for="input-file-now">Publique los archivo necesarios.</label>
        <input type="file" (change)="obtenerArchivo( $event.target.files[0] )" id="input-file-now" class="dropify-fr" />
        <br><br>
        <button type="button" [disabled]="!archivoSubir" (click)="subirArchivoById()" class="btn waves-effect waves-light btn-rounded btn-success btn-block">Subir archivo</button>
      </div>
    </div>
  </div>
</div>




<!-- ************************************************************************************************* -->
<!-- Modal para editar la inversión -->
<!-- ************************************************************************************************* -->
<div class="modal fade modalEditInver" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">ID inversión: &nbsp; <b>{{editInversion['id_inv']}}</b></h4>
        <h4 class="modal-title" id="myLargeModalLabel">Fecha inversión: &nbsp; {{editInversion['fechareg_inv'] | date: 'dd/MM/yyyy'}}</h4>
      </div>
      <div class="modal-body">
        <div class="comment-text w-100">
          
          <form class="formEditTicket m-t-40" [formGroup]="FormEditInversion" (submit)="editarInversion(editInversion['id_inv'])">
            <div class="row">
              <div class="col-lg-5 col-md-5">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Nombre inversión</label>
                  <input type="text" formControlName="nombreInver" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Capital invertido</label>
                  <input type="number" formControlName="capital" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <div class="form-group m-b-40 focused">
                  <label for="input3">Tipo moneda</label>
                  <select formControlName="moneda" class="form-control">
                    <option value="COP">COP</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Tiempo inversión (días)</label>
                  <input type="number" formControlName="tiempo" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Tasa Interés EA</label>
                  <input type="number" formControlName="tasainteres" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">País inversión</label>
                  <input type="text" formControlName="pais" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="form-group m-b-40 focused">
                  <label for="input2">Descripción</label>
                  <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="checkbox checkbox-info pull-left p-t-0">
                  <input id="checkbox-signup" formControlName="estado" type="checkbox" class="filled-in chk-col-light-blue">
                  <label for="checkbox-signup">Inversión visible </label><br><br>
                  <h6>Puede Actualizar la inversión y permitir ser vista. </h6>
                </div> 
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success btn-block">Editar ticket</button>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger btn-block" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ************************************************************************************************* -->
<!-- Modal para crear anexo de la inversión -->
<!-- ************************************************************************************************* -->
<div class="modal fade modalCrearAnexo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">ID inversión: &nbsp; <b>{{editInversion['id_inv']}}</b></h4>
        <h4 class="modal-title" id="myLargeModalLabel">Fecha inversión: &nbsp; {{editInversion['fechareg_inv'] | date: 'dd/MM/yyyy'}}</h4>
      </div>
      <div class="modal-body">
        <div class="comment-text w-100">
          <h4>Formulario para crear anexos a esta inversión</h4>
          <form class="formEditTicket m-t-40" #FormAnex="ngForm" [formGroup]="FormCrearAnexo" (submit)="crearAnexos( editInversion ); FormAnex.reset()">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Nombre anexo</label>
                  <input type="text" formControlName="nombreAnexo" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Ganancias captados</label>
                  <input type="number" formControlName="ganancias" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Fecha anexo</label>
                  <input type="date" formControlName="fecha" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group m-b-40 focused">
                  <label for="input2">Comentario</label>
                  <textarea class="form-control" formControlName="comentario" rows="3"></textarea>
                  <span class="bar"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col text-danger">
                <p *ngIf="campoNoValido('nombreAnexo')">*El nombre del anexo es obligatorio.</p>
                <p *ngIf="campoNoValido('ganancias')">*Las ganancias son obligatorias.</p>
                <p *ngIf="campoNoValido('comentario')">*El comentario es obligatorio.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success btn-block">Crear anexo</button>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger btn-block" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


