.cardCliente{
  text-align: center;
}
.h6Perfil{
  color: #398bf7;
  font-weight: 700;
}
.contenidoArchivos .alert-info{
  font-weight: 600;
}
.contenidoArchivos .alert-info .fechArchivo{
  font-size: 11px;
  line-height: 28px;
}
.opcionesFile{
  float: right;
  position: relative;
}
.opcionesFile a{
  cursor: pointer;
}
.opcionesFile i{
  color: #06d79c;
  font-size: 18px;
  margin: 0 3px;
}
.logoFile{
  width: 30px;
}

.formEditTicket .form-group {
  position: relative;
}

.formEditTicket .form-control {
  padding: 10px 10px 10px 0;
  display: block;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 0px;
  border-bottom: 1px solid #e9edf2;
}
.formEditTicket label{
  font-size: 12px;
}