<div class="row">
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active liInfoGen" data-toggle="tab" href="#" role="tab">Annex general information</a> <span class="nomUser">User: {{userAsociado[0]?.nombres_us}}</span></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">        
        <div class="tab-pane active" id="settings" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Project ID: &nbsp; <b>{{anexo['id_inv']}}</b> </small>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Annex movement:</small>
                <h6>{{anexo['movimiento_anex']}}</h6> 
              </div>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Annex date:</small>
                <h6>{{anexo['fechAnexo']}}</h6> 
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Capital in Foreign Currency:</small>
                <h6>{{ anexo['capital_extra_anex'] | currency: anexo['moneda_anex'] }}</h6> 
              </div>
              <br>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Capital in COP Currency:</small>
                <h6>{{anexo['capital_cop_anex'] | currency: anexo['moneda_anex']}}</h6> 
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Interests in Foreign Currency:</small>
                <h6>{{anexo['interes_extra_anex']}}%</h6>
              </div>
              <br>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Interest in Currency COP:</small>
                <h6>{{anexo['interes_cop_anex']}}%</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Capital + Interest in Foreign Currency:</small>
                <h6>{{anexo['capital_interes_extra_anex'] | currency: anexo['moneda_anex']}}</h6>
              </div>
              <br>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Capital + Interest in Currency COP:</small>
                <h6>{{anexo['capital_interes_cop_anex'] | currency: anexo['moneda_anex']}}</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Description:</small>
                <h6>{{anexo['descripcion_anex']}}</h6>
              </div>
              <br>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Attached document:</small>
                <h6 *ngIf="anexo['tipo_archivo_info'] === 'pdf'" (click)="verArchivo( anexo['tipo_archivo_info'], anexo['nom_archivo_info'] )" class="cursor"><img class="logoFile" src="../../../assets/images/pdf.png" alt=""> {{anexo['nom_archivo_info'] | slice:9:50 }}</h6>
                <h6 *ngIf="anexo['tipo_archivo_info'] === 'word'" (click)="verArchivo( anexo['tipo_archivo_info'], anexo['nom_archivo_info'] )" class="cursor"><img class="logoFile" src="../../../assets/images/word.png" alt=""> {{anexo['nom_archivo_info'] }}</h6>

                <br>
                <div *ngIf="this.usuario[0].admin_us === 'Y'" class="checkbox checkbox-info">
                  <input id="checkbox-signup" type="checkbox" (change)="checkCambiarFile($event.target.checked)" class="filled-in chk-col-light-blue">
                  <label for="checkbox-signup">Change file?</label>
                </div> 
                <br>
                
                <div class="form-group m-b-40 focused {{cambiarFile}}">
                  <label for="input-file-now">Upload the file for the attachment.</label>
                  <input type="file" (change)="obtenerArchivo( $event.target.files[0] )" id="input-file-now" class="dropify"/>
                  <span class="bar"></span>
                  <button type="button" (click)="cambiarArchivoById()" class="btn waves-effect waves-light btn-rounded btn-success btn-block">Change file</button>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-12">
                <button *ngIf="this.usuario[0].admin_us === 'Y'" type="button" (click)="modalEditAnexo(anexo)" class="btn waves-effect waves-light btn-rounded btn-success" data-toggle="modal" data-target=".modalEditAnexo">Edit annex</button>
                &nbsp;
                <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">back</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ************************************************************************************************* -->
<!-- Modal para editar el anexo -->
<!-- ************************************************************************************************* -->
<div class="modal fade modalEditAnexo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Project ID: &nbsp; <b>{{editAnexo['id_inv']}}</b></h4>
        <h4 class="modal-title" id="myLargeModalLabel">Project date: &nbsp; {{editAnexo['fechAnexo']}}</h4>
      </div>
      <div class="modal-body">
        <div class="comment-text w-100">

          <form class="formEditAnexo floating-labels m-t-40" [formGroup]="FormEditarAnexo" (submit)="editarAnexosById(editAnexo['id_anex'], editAnexo['id_inv'])">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Annex movement</label>
                  <input type="text" formControlName="movimientoAnexo" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group grupoDate">
                  <span class="spanFech" >Annex date</span>
                  <input type="date" formControlName="fechaAnexo" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Capital in Foreign Currency</label>
                  <input type="number" formControlName="capitalExtra" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Capital in COP Currency</label>
                  <input type="number" formControlName="capitalCop" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Interests in Foreign Currency</label>
                  <input type="text" formControlName="interesExtra" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Interest in Currency COP</label>
                  <input type="text" formControlName="interesCop" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Capital + Interest in Foreign Currency</label>
                  <input type="number" formControlName="capitalInteresExtra" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-40 focused">
                  <label for="input1">Capital + Interest in Currency COP</label>
                  <input type="number" formControlName="capitalInteresCop" class="form-control">
                  <span class="bar"></span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-10 col-md-10">
                <div class="form-group m-b-40 focused">
                  <label for="input2">Description</label>
                  <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
                  <span class="bar"></span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col text-danger">
                <p *ngIf="campoNoValido('movimientoAnexo')">*The annex movement is required.</p>
                <p *ngIf="campoNoValido('fechaAnexo')">*The date of the annex is required.</p>
                <p *ngIf="campoNoValido('capitalExtra')">*The capital in foreign currency is required.</p>
                <p *ngIf="campoNoValido('capitalCop')">*The capital in COP currency is required.</p>
                <p *ngIf="campoNoValido('interesExtra')">*Interest in Foreign Currency is required.</p>
                <p *ngIf="campoNoValido('interesCop')">*Interest in COP Currency is required.</p>
                <p *ngIf="campoNoValido('capitalInteresExtra')">*The Capital + Interest in Foreign Currency is required.</p>
                <p *ngIf="campoNoValido('capitalInteresCop')">*The Capital + Interest in Currency COP is required.</p>
                <p *ngIf="campoNoValido('descripcion')">*Description is required.</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success">Update annex</button>
                  &nbsp;
                  <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
