<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">En el siguiente formulario puede actualizar y ver las inversiones de {{usuario['nombres_us']}}.</h4>
        <h6 class="card-subtitle">Una vez modificada la información, se notificará vía correo electrónico ( {{usuario['email_us']}} ).</h6>
        
        <form class="floating-labels m-t-40" [formGroup]="updateFormCliente" (submit)="actualizarCliente()">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="nombres" class="form-control">
                <span class="bar"></span>
                <label for="input1">Nombres</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="apellidos" class="form-control">
                <span class="bar"></span>
                <label for="input2">Apellidos</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="email" formControlName="email" class="form-control">
                <span class="bar"></span>
                <label for="input3">E-mail</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="telefono" class="form-control">
                <span class="bar"></span>
                <label for="input3">Teléfono</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="compania" class="form-control" id="input5">
                <span class="bar"></span>
                <label for="input3">Nombre Compañía</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group m-b-40 focused">
                <textarea class="form-control" formControlName="descripcion" rows="2"></textarea>
                <span class="bar"></span>
                <label for="input3">Descripción</label>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success">Actualizar Cliente</button>
                &nbsp;
                <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">Volver</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" formControlName="estado" type="checkbox" class="filled-in chk-col-light-blue">
                <label for="checkbox-signup">Cliente Activo </label><br><br>
                <h6>La cuenta del cliente la puede inactivar. </h6>
                <input type="hidden" formControlName="id" class="form-control">
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col text-danger">
              <p *ngIf="campoNoValido('nombres')">*El nombre es obligatorio.</p>
              <p *ngIf="campoNoValido('apellidos')">*El apellido es obligatorio.</p>
              <p *ngIf="campoNoValido('email')">*El E-mail es obligatorio y valido.</p>
              <p *ngIf="campoNoValido('telefono')">*El teléfono es obligatorio.</p>
              <p *ngIf="campoNoValido('compania')">*El nombre de la compañía es obligatorio.</p>
              <p *ngIf="campoNoValido('descripcion')">*La descripción es obligatoria.</p>
            </div>
          </div>
      
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de inversiones -->
<div *ngIf=" inversiones.length > 0" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Inversiones realizadas de {{usuario['nombres_us']}}</h4>
        <h6 class="card-subtitle">Puede visualizar el detalle de la inversión y los documentos adjuntos.</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th># Inversión</th>
                <th>Nom. Proyecto</th>
                <th>Capital invertido</th>
                <th>País</th>
                <th>Fecha Inversión</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inversion of inversiones">
                <td><a class="aInversion" title="Ver Inversión" (click)="navegarInversion(inversion)">{{inversion.id_inv}} </a></td>
                <td>{{inversion.nombre_inv}}</td>
                <td>{{inversion.capital_inv | currency: inversion.moneda_inv }} </td>
                <td> {{inversion.pais_inv}} </td>
                <td><span class="text-muted"><i class="fa fa-calendar-o"></i> {{inversion.fechareg_inv | date: 'dd/MM/yyyy'}}</span> </td>
                <td *ngIf=" inversion.estado_inv === 1 " ><div class="label label-table label-success">Activo</div></td>
                <td *ngIf=" inversion.estado_inv === 0 " ><div class="label label-table label-danger">Inactivo</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf=" inversiones.length === 0 " class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <button type="button" (click)="navegarCrearInversion()" class="btn waves-effect waves-light btn-rounded btn-success text-center btn-block">Crear inversión para {{usuario['nombres_us']}}</button>
      </div>
    </div>
  </div>
</div>
