<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{'theFollowCreateProject' | translate}} {{usuario['nombres_us']}}.</h4>
        <h6 class="card-subtitle">{{'notifiedCreatedEmail' | translate}} ( {{usuario['email_us']}} ).</h6>
        
        <form class="floating-labels formCrearInver m-t-40" [formGroup]="crearFormInversion" (submit)="crearInversion()">
          <div class="row">
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="nombreInver" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'ProjectName' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="capitalExtra" class="form-control">
                <span class="bar"></span>
                <label for="input2">{{'capitalInverted' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <label for="input3">{{'ForeignCurrency' | translate}}</label>
                <select formControlName="monedaExtra" class="form-control">
                  <option value="COP">COP</option>
                  <option value="EUR">EUR</option>
                  <option value="USD">USD</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="tasaCambio" class="form-control">
                <span class="bar"></span>
                <label for="input3">{{'ExchangeRate' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="capitalCop" class="form-control">
                <span class="bar"></span>
                <label for="input3">{{'CapitalInvesCOP' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="tasaInteres" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'InterestRate' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="interesExtra" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'InterestAccrForeign' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="interesCop" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'InterestAccrCOP' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="text" formControlName="pais" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'ProjectCountry' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="rentaExtra" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'AnnualReturnForeign' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="rentaCop" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'AnnualReturnCOP' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="form-group m-b-40 focused">
                <input type="number" formControlName="tiempo" class="form-control">
                <span class="bar"></span>
                <label for="input1">{{'ProjectTime' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="form-group m-b-40 focused">
                <textarea class="form-control" formControlName="descripcion" rows="2"></textarea>
                <span class="bar"></span>
                <label for="input3">{{'Description' | translate}}</label>
              </div>
            </div>
            <div class="col-lg-4 ">
              <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" formControlName="estado" type="checkbox" class="filled-in chk-col-light-blue">
                <label for="checkbox-signup">{{'ProjectEnabled' | translate}} </label><br><br>
                <h6>{{'createProjectViewed' | translate}} {{usuario['nombres_us']}}. </h6>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success">{{'btnCreateProject' | translate}}</button>
                &nbsp;
                <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">{{'Back' | translate}}</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col text-danger">
              <p *ngIf="campoNoValido('nombreInver')">*{{'ProjectNameRequired' | translate}}</p>
                <p *ngIf="campoNoValido('capitalExtra')">*{{'CapitalForeignRequired' | translate}} </p>
                <p *ngIf="campoNoValido('monedaExtra')">*{{'ForeignRequired' | translate}} </p>
                <p *ngIf="campoNoValido('tasaCambio')">*{{'exchangeRequired' | translate}} </p>
                <p *ngIf="campoNoValido('capitalCop')">*{{'capitalCOPRequired' | translate}} </p>
                <p *ngIf="campoNoValido('tasaInteres')">*{{'interestRequired' | translate}} </p>
                <p *ngIf="campoNoValido('interesExtra')">*{{'InterestForeignRequired' | translate}} </p>
                <p *ngIf="campoNoValido('interesCop')">*{{'InterestCOPRequired' | translate}} </p>
                <p *ngIf="campoNoValido('pais')">*{{'CountryRequired' | translate}} </p>
                <p *ngIf="campoNoValido('rentaExtra')">*{{'ProfitabilityForeignRequired' | translate}} </p>
                <p *ngIf="campoNoValido('rentaCop')">*{{'ProfitabilityCOPRequired' | translate}} </p>
                <p *ngIf="campoNoValido('tiempo')">*{{'ProjectTimeRequired' | translate}} </p>
              <p *ngIf="campoNoValido('descripcion')">*{{'DescriptionRequired' | translate}}</p>
            </div>
          </div>
      
        </form>
      </div>
    </div>
  </div>
</div>