<!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="user-profile">
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">{{usuario[0].nombres_us}} </span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a routerLink="perfil">Mi Perfil </a></li>
                <li><a routerLink="cuenta">Mi Cuenta</a></li>
                <li><a href="javascript:void()">Mis Balances</a></li>
                <li><a routerLink="configuracion-cuenta">Configuraciones</a></li>
                <li class="aCursor"><a (click)="logoutUser()">Cerrar Sesión</a></li>
              </ul>
            </li>
            <li class="nav-devider"></li>
            <li class="nav-small-cap">PERSONAL</li>
            <li> <a class="has-arrow waves-effect waves-dark" routerLink="/" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">área de Clientes</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a routerLink="lista-clientes">Lista Clientes</a></li>
                <li><a routerLink="crear-cliente">Crear Clientes</a></li>
                <li><a href="app-contact.html">Documentos Generales</a></li>
              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Finanzas</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="app-email.html">Balances</a></li>
                <li><a href="app-email-detail.html">Inversiones</a></li>
              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Acerca de LegalBF </span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="ui-cards.html">Quiénes Somos</a></li>
                <li><a href="ui-buttons.html">Como funciona</a></li>
                <li><a href="ui-modals.html">Contratos</a></li>
                <li><a href="ui-tab.html">Términos y Condiciones</a></li>
                <li><a href="ui-user-card.html">Políticas de manejo de datos</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
