<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{title}} - <span class="card-subtitle">{{nombreInv}}</span></h4>
    <div class="bg-theme stats-bar">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="p-20 active">
            <h6 class="text-white">Inversión inicial</h6>
            <h3 class="text-white m-b-0">{{ capitalInv | currency: monedaInv }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="p-20">
            <h6 class="text-white">Tasa (EA)</h6>
            <h3 class="text-white m-b-0">{{tasaInv}}%</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="p-20">
            <h6 class="text-white">Moneda</h6>
            <h3 class="text-white m-b-0">{{monedaInv}}</h3>
          </div>
        </div>
      </div>
    </div>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
