.contenidoArchivos{
  height: 390px;
  overflow-y: scroll;
}
.contenidoArchivos .alert-info{
  font-weight: 500;
  font-size: 11px;
}
.contenidoArchivos .alert{
  padding: 8px;
}
.contenidoArchivos .alert-info .fechArchivo{
  font-size: 11px;
  line-height: 28px;
}
.opcionesFile{
  float: right;
  position: relative;
}
.opcionesFile a{
  cursor: pointer;
}
.opcionesFile i{
  color: #06d79c;
  font-size: 18px;
  margin: 0 3px;
}
.logoFile{
  width: 30px;
}
.tablaAnexos thead tr th,
.tablaAnexos tbody tr td{
  font-size: 13px;
}