<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/staff.png" alt="Income"></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">User</h6>
            <h2 class="m-t-0">{{usuario[0].nombres_us | slice:0:10 }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/income.png" alt="Income"></div>
          <div *ngIf=" usuario[0].admin_us === 'N' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Ganancias totales</h6>
            <h2 class="m-t-0">{{ sumGanan | currency: moneda }}</h2>
          </div>
          <div *ngIf=" usuario[0].admin_us === 'Y' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Asociados</h6>
            <h2 class="m-t-0">{{ usuarios.length }} usuarios</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income"></div>
          <div *ngIf=" usuario[0].admin_us === 'N' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Total anexos</h6>
            <h2 class="m-t-0">{{ anexos.length }} anexos</h2>
          </div>
          <div *ngIf=" usuario[0].admin_us === 'Y' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Inversiones</h6>
            <h2 class="m-t-0">{{ totalInver.length }} activas</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/assets.png" alt="Income"></div>
          <div *ngIf=" usuario[0].admin_us === 'N' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Tiempo inversión</h6>
            <h2 class="m-t-0">{{ tiempo }} días</h2>
          </div>
          <div *ngIf=" usuario[0].admin_us === 'Y' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Pendientes</h6>
            <h2 class="m-t-0">{{ tickets.length }} tickets</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf=" usuario[0].admin_us === 'N' " class="row">
  <div class="col-lg-12">
    <app-lineal [labels]="labels2" [data]="Data2" title="Inversión/Ganancias" [nombreInv]="nomInversion" [capitalInv]="capital" [monedaInv]="moneda" [tasaInv]="tasa"></app-lineal>
  </div>
</div>



<!-- Información detallada de la inversion y los anexos -->
<div *ngIf=" usuario[0].admin_us === 'N' " class="row">
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-8">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Información general inversión</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">        
        <div class="tab-pane active" id="settings" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">ID inversión: &nbsp; <b>{{ idInv }}</b> </small>
              </div>
              <br>
              <div class="col-lg-6 col-md-6">
                <small class="text-muted">Fecha inversión: &nbsp; {{ fechareg | date: 'dd/MM/yyyy'}} </small>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-12">
                <small class="text-muted">Nombre inversión:</small>
                <h6>{{ nomInversion }}</h6> 
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Capital invertido:</small>
                <h6>{{ capital | currency: moneda }}</h6> 
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Tipo de moneda:</small>
                <h6>{{ moneda }}</h6> 
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">País:</small>
                <h6>{{ pais }}</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Tiempo inversión:</small>
                <h6>{{ tiempo }} días</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Tasa de interés (EA):</small>
                <h6>{{ tasa }}%</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Estado inversión:</small>
                <h6 *ngIf=" estado === 1 " class="text-warning">ACTIVO</h6>
                <h6 *ngIf=" estado === 0" class="text-danger">INACTIVO</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-10">
                <small class="text-muted">Descripción:</small>
                <h6>{{ descripcion }}</h6>
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-4">
    <div class="card">
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Documentos relacionados</a> </li>
      </ul>
      <div class="card-body contenidoArchivos">
        <div *ngFor="let archivo of archivos" class="alert alert-info">
          <img *ngIf=" archivo.tipo_archivo_info === 'pdf' " class="logoFile" src="../../../assets/images/pdf.png" alt="">
          <img *ngIf=" archivo.tipo_archivo_info === 'word' " class="logoFile" src="../../../assets/images/word.png" alt="">
          {{archivo.nom_archivo_info | slice:9:30 }} {{ (archivo.nom_archivo_info.length > 30)? '...': '' }}
          <br>
          <span class="fechArchivo">Publicado: {{archivo.fech_publica_info | date: 'dd/MM/yyyy' }} </span>
          <div class="opcionesFile">
            <a (click)="verArchivo(archivo)" title="View"> <i class="mdi mdi-eye"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Tabla con los anexos -->
<div *ngIf=" anexos.length > 0 && usuario[0].admin_us === 'N' " class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Anexos cargados actualmente</h4>
        <h6 class="card-subtitle">Estos son los anexos cargados para la inversión {{ nomInversion }} </h6>
        <div class="table-responsive">
          <table class="table tablaAnexos">
            <thead>
              <tr>
                <th># Anexo</th>
                <th>Nom. Anexo</th>
                <th>Ganancias</th>
                <th>Tasa (EA) inicial</th>
                <th>Moneda</th>
                <th>Comentario</th>
                <th>Fecha publicación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let anexo of anexos">
                <td>{{anexo.id_anex}}</td>
                <td>{{anexo.nombre_anex}}</td>
                <td>{{anexo.ganacias_anex | currency: anexo.moneda_anex }} </td>
                <td>{{anexo.tasa_anex}}%</td>
                <td>{{anexo.moneda_anex}}</td>
                <td>{{anexo.comentario_anex}}</td>
                <td><span class="text-muted"><i class="fa fa-calendar-o"></i> {{anexo.fechpublica_anex | date: 'dd/MM/yyyy'}}</span> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf=" usuario[0].admin_us === 'Y' " class="row">
  <div class="col-lg-8 col-md-8">
    <app-lineal-admin [labels]="labels3" [data]="Data3" title="Usuarios/Inversión inicial"></app-lineal-admin>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <h5 class="box-title m-t-30">Datepicker Inline</h5>
          <p class="text-muted m-b-20">You also can set the datepicker to be inline and flat.</p>
            <div id="datepicker-inline"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-5">
    <app-dona [labels]="labels1" [data]="Data1" title="Mis Ganancias"></app-dona>
  </div>
  <div class="col-lg-7 col-md-7">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title"><span class="lstick"></span>Usuarios registrados </h4>
            <a routerLink="lista-clientes" class="btn waves-effect waves-light btn-rounded btn-success verUsuarios">Ver usuarios</a>
          </div>
        </div>
        <div class="table-responsive m-t-20 tableUsers">
          <table class="table vm no-th-brd no-wrap pro-of-month">
            <thead>
              <tr>
                <th colspan="2">User</th>
                <th>Email</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let usuario of usuarios ">
                <td style="width:50px;"><span class="round"><img src="../assets/images/users/1.jpg" alt="user" width="50"></span></td>
                <td><h6> {{usuario.nombres_us}} </h6><small class="text-muted">{{usuario.compania_us}}</small></td>
                <td>{{usuario.email_us | slice:0:11 }} {{ (usuario.email_us.length > 11)? '...':'' }}</td>
                <td *ngIf=" usuario.estado_us === 1 " ><span class="label label-success label-rounded">Activo</span></td>
                <td *ngIf=" usuario.estado_us === 0 " ><span class="label label-warning label-rounded">Inactivo</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

