<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/staff.png" alt="Income"></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'user' | translate}} </h6>
            <h2 class="m-t-0">{{usuario[0]?.nombres_us | slice:0:10 }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/income.png" alt="Income"></div>
          <div *ngIf=" usuario[0].admin_us === 'N' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'totalWinnings' | translate}} </h6>
            <h2 class="m-t-0">{{ sumGanan | currency: moneda }}</h2>
          </div>
          <div *ngIf=" usuario[0].admin_us === 'Y' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'associates' | translate}} </h6>
            <h2 class="m-t-0">{{ usuarios.length }} {{'user' | translate}} </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income"></div>
          <div *ngIf=" usuario[0].admin_us === 'N' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'totalAnnexes' | translate}} </h6>
            <h2 class="m-t-0">{{ anexos.length }} {{'annexes' | translate}} </h2>
          </div>
          <div *ngIf=" usuario[0].admin_us === 'Y' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'projects' | translate}} </h6>
            <h2 class="m-t-0">{{ totalInver.length }} {{'active' | translate}} </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/assets.png" alt="Income"></div>
          <div *ngIf=" usuario[0].admin_us === 'N' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'projectTime' | translate}} </h6>
            <h2 class="m-t-0">{{ tiempo }} {{'months' | translate}} </h2>
          </div>
          <div *ngIf=" usuario[0].admin_us === 'Y' " class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"> {{'slopes' | translate}} </h6>
            <h2 class="m-t-0">{{ tickets.length }} {{'tickets' | translate}} </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf=" usuario[0].admin_us === 'N' " class="row">
  <div class="col-lg-12">
    <app-lineal [labels]="labels2" [data]="Data2" title="{{'projectWinnings' | translate}}" [nombreInv]="nomInversion" [capitalInv]="capitalExtra" [monedaInv]="moneda" [tasaInv]="tasa"></app-lineal>
  </div>
</div>



<!-- Información detallada de la inversion y los anexos -->
<div *ngIf=" usuario[0].admin_us === 'N' " class="row">
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#settings" role="tab"> {{'genProInfo' | translate}} </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">        
        <div class="tab-pane active" id="settings" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8 col-md-8">
                <small class="text-muted"> {{'ProjectID' | translate}} : &nbsp; <b>{{ idInv }}</b> </small>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ProjectDate' | translate}} : &nbsp; {{ fechareg | date: 'dd/MM/yyyy'}} </small>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ProjectName' | translate}} :</small>
                <h6>{{nomInversion}}</h6> 
              </div>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'capitalInverted' | translate}} :</small>
                <h6>{{ capitalExtra | currency: moneda }}</h6> 
              </div>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ForeignCurrency' | translate}} :</small>
                <h6>{{ moneda }}</h6> 
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ExchangeRate' | translate}} :</small>
                <h6>{{ tasaCambio | currency: moneda }}</h6> 
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'CapitalInvesCOP' | translate}} :</small>
                <h6>{{capitalCop | currency: 'COP' }}</h6> 
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'InterestRate' | translate}} :</small>
                <h6>{{ tasa }}%</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'InterestAccrForeign' | translate}} :</small>
                <h6>{{ interesExtra }}%</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'InterestAccrCOP' | translate}} :</small>
                <h6>{{ interesCop }}%</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ProjectCountry' | translate}} :</small>
                <h6>{{ pais }}</h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'AnnualReturnForeign' | translate}} :</small>
                <h6>{{ rentaExtra | currency: moneda }}</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'AnnualReturnCOP' | translate}} :</small>
                <h6>{{ rentaCop | currency: 'COP' }}</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ProjectTime' | translate}}:</small>
                <h6>{{ tiempo }} {{'months' | translate}} </h6>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-8 col-md-8">
                <small class="text-muted"> {{'Description' | translate}} :</small>
                <h6>{{ descripcion }}</h6>
              </div>
              <br>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted"> {{'ProjectStatus' | translate}}:</small>
                <h6 *ngIf=" estado === 1" class="text-warning"> {{'active' | translate}} </h6>
                <h6 *ngIf=" estado === 0" class="text-danger"> {{'inactive' | translate}} </h6>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Tabla con los anexos -->
<div *ngIf=" anexos.length > 0 && usuario[0]?.admin_us === 'N' " class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> {{'InvestmentMonitoring' | translate}} </h4>
        <h6 class="card-subtitle"> {{'ProjectNumber' | translate}}: &nbsp; <b>{{ idInv }}</b></h6>
        <div class="table-responsive">
          <table class="table tablaAnexos">
            <thead>
              <tr>
                <th># {{'Annexed' | translate}} </th>
                <th> {{'Movement' | translate}} </th>
                <th> {{'CapitalForeignCurrency' | translate}} </th>
                <th> {{'CapitalCurrencyCOP' | translate}} </th>
                <th> {{'InterestForeignCurrency' | translate}} </th>
                <th> {{'InterestCOPCurrency' | translate}} </th>
                <th class="headW"> {{'Date' | translate}} </th>
                <th> {{'File' | translate}} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let anexo of anexos">
                <td> <a class="aAnexos" title="Ver Anexo" (click)="navegarAnexo(anexo)"> {{anexo.id_anex}} </a></td>
                <td>{{anexo.movimiento_anex}}</td>
                <td>{{anexo.capital_extra_anex | currency: anexo.moneda_anex }} </td>
                <td>{{anexo.capital_cop_anex | currency: anexo.moneda_anex }} </td>
                <td>{{anexo.interes_extra_anex}}%</td>
                <td>{{anexo.interes_cop_anex}}%</td>
                <td><span class="text-muted"><i class="fa fa-calendar-o"></i> {{ anexo.fechAnexo }}</span> </td>
                <td *ngIf=" anexo.tipo_archivo_info === 'pdf' " (click)="verArchivo( anexo.tipo_archivo_info, anexo.nom_archivo_info )" class="cursor"><img class="logoFile" src="../../../assets/images/pdf.png" alt=""> </td>
                <td *ngIf=" anexo.tipo_archivo_info === 'word' " (click)="verArchivo( anexo.tipo_archivo_info, anexo.nom_archivo_info )" class="cursor"><img class="logoFile" src="../../../assets/images/word.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf=" usuario[0].admin_us === 'Y' " class="row">
  <div class="col-lg-8 col-md-8">
    <app-lineal-admin [labels]="labels3" [data]="Data3" title="{{'UsersInitial' | translate}}"></app-lineal-admin>
  </div>
  <div class="col-lg-4 col-md-4">
    <app-datepicker-inline title="{{'Calendary' | translate}}"></app-datepicker-inline>
  </div>

  <div class="col-lg-5 col-md-5">
    <app-dona [labels]="labels1" [data]="Data1" title="{{'PlatformStatus' | translate}}"></app-dona>
  </div>
  <div class="col-lg-7 col-md-7">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title"><span class="lstick"></span> {{'RegisteredUsers' | translate}} </h4>
            <a routerLink="lista-clientes" class="btn waves-effect waves-light btn-rounded btn-success verUsuarios"> {{'ViewUsers' | translate}} </a>
          </div>
        </div>
        <div class="table-responsive m-t-20 tableUsers">
          <table class="table vm no-th-brd no-wrap pro-of-month">
            <thead>
              <tr>
                <th colspan="2"> {{'user' | translate}} </th>
                <th> {{'Email' | translate}} </th>
                <th> {{'Status' | translate}} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let usuario of usuarios ">
                <td style="width:50px;"><span class="round"><img src="../assets/images/users/1.jpg" alt="user" width="50"></span></td>
                <td><h6> {{usuario.nombres_us}} </h6><small class="text-muted">{{usuario.compania_us}}</small></td>
                <td>{{usuario.email_us | slice:0:11 }} {{ (usuario.email_us.length > 11)? '...':'' }}</td>
                <td *ngIf=" usuario.estado_us === 1 " ><span class="label label-success label-rounded"> {{'active' | translate}} </span></td>
                <td *ngIf=" usuario.estado_us === 0 " ><span class="label label-warning label-rounded">{{'inactive' | translate}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

